@model List<Ticker>
@using System.Reflection;
@using StockMarketTracker;
@{
    ViewData["Title"] = "View";
}

<h1>Ticker List</h1>
<table class="table">
    <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Price Last Updated</th>
    </tr>
    @{
        foreach (Ticker ticker in Model)
        {
            <tr>
                <td>@ticker.Symbol</td>
                <td>@ticker.Price</td>
                <td>@ticker.DateLastUpdated</td>
                <td><a class="btn" asp-route-id=@ticker.Id asp-controller="Ticker" asp-action="Edit">
                    <i class="fa-solid fa-pen-to-square"></i> Edit
                    </a>
                </td>
                <td>
                    <a class="btn" asp-route-id=@ticker.Id asp-controller="Ticker" asp-action="Delete">
                        <i class="fa-solid fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    }          
    
</table>

<a class="btn" asp-controller="Ticker" asp-action="Create">
    <i class="fa-solid fa-plus"></i> Add Ticker
</a>
