@model HoldingViewModel
@using StockMarketTracker;
@using StockMarketTracker.ViewModels;
@{
    ViewData["Title"] = "Add Holding";
}
<form method="post">
    <label asp-for="holding.Shares" class="col-md-2 control-label"></label>
    <input asp-for="holding.Shares" class="form-control" />
    <label asp-for="holding.TickerId" class="form-label">Ticker:</label>
    <select class="form-select" asp-items="Model.TickersSelectList" asp-for="holding.TickerId"></select>
    @*<label asp-for="Ticker.Symbol" class="col-md-2 control-label"></label>
    <input asp-for="Ticker.Symbol" class="form-control" />*@
    <label asp-for="holding.Average" class="col-md-2 control-label"></label>
    <input asp-for="holding.Average" class="form-control" />
    @*<label asp-for="DateLastUpdated" class="col-md-2 control-label"></label>
    <input asp-for="DateLastUpdated" class="form-control" />*@
    @*<button asp-action="Create" asp-controller="Holding">Add</button>*@
    <button asp-action="Create" asp-controller="Holding"><i class="fa-solid fa-floppy-disk"></i> Save</button>
</form>